@import url('https://fonts.googleapis.com/css?family=Charmonman');

html {
    height: 100%;
}

#banner{
            width: 900px;
            border-top: solid black 2px;
            height: 200px;
            background-image: url("https://www.pngarts.com/files/3/Uncharted-Logo-PNG-Image-Background.png");
            background-repeat: no-repeat;
            background-size: 85%;
            background-position: 50% 50%;
            text-align: center;
            margin: 0 auto;
}

body {
    background-image: url("https://www.sidefx.com/media/uploads/story/stories/fx-adventures-in-uncharted-4-a-thiefs-end/uncharted-4_drake-sully-vista1.jpg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100%;
            background-attachment: fixed;
}
a {
    color: black;
    font-family: 'Charmonman', cursive;
    font-size: 40px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.header{
    display: flex;
    justify-content: space-around;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

a:hover {
    color: red;
    text-decoration: underline;
}


.main {
    height: 750px;
    width: 1000px;
    margin: 0 auto;
    background-color: #bdc3c7;
    opacity: 0.7;
    border: solid 5px red;
    text-align: center;
    border-radius: 10px;
    border: ridge 6px red;
    font-family: 'Charmonman', cursive;

}

.footer{
    display: flex;
    justify-content: space-around;
    font-family: 'Charmonman', cursive;
    color: red;
}

.rightPane{
    height: 100%;
    text-align: center;
    margin: 0 auto;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.imgLeft {
    float: left;
    margin-right: 15px;
}      

h1{
    font-size: 50px;
    text-decoration: underline;
    color:red;
     text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

p{
    font-size: 30px;
}

hr{
    border: solid black 2px;
}
